.contact-container{
    background: url(https://img.freepik.com/free-photo/side-view-woman-posing-studio_23-2149600354.jpg?w=900&t=st=1684248641~exp=1684249241~hmac=d1fc82191b51471b8ffec33a5cdda81eb37ebaa88d3162821e8cfa0f0c7291b9);
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-info-container,
.contact-form-container{
    flex-basis: 40%;
    height: 80%;
    background: url(https://img.freepik.com/free-photo/grunge-dark-interior-with-smoky-atmosphere_1048-11822.jpg);
    display: flex;
}
.contact-form,
.contact-info{
    margin: auto;
}
.contact-info{
    color: white;
}
td{
    vertical-align: top;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 1px;
}
.contact-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-input-container{
    width: 90%;
    text-align: center;
}
.input,.msg-input{
    width: 60%;
    margin-bottom: 10px;
    background: rgba(96,97,95,0.6);
}
.input{
    height: 40px;
    border: none;
    color: white;
    font-size: 16px;
}
.input:focus,textarea:focus{
    outline: none;
    background: rgba(96,97,95,0.6);
}
textarea{
    border: none;
    color: white;
    font-size: 16px;
    padding: 10px;
}
input[type="email"],
input[type="text"]{
    padding-left: 10px;
}
input[type="sumbit"]{
    cursor: pointer;
}
input[type="sumbit"]:hover{
    background: rgba(96,97,95,0.6);
}